
<div class="container">
  <div class="row">
    <div class="span9 offset2">
      <div class="well well large">
      <%= image_tag(@clinic.picture_url, :width => "50%") if @clinic.picture.present? %>
        </b><%= @clinic.name %></p>
        </b><%= @clinic.information %></p>

          <address>
          <strong><b>Nombre: </b><%= @clinic.name %></strong><br>
          <b>Dirección: </b><%= @clinic.address %><br>
  
          <%= link_to 'Edit', edit_clinic_path(@clinic) %> |
          <%= link_to 'Destroy', @clinic, confirm: 'Are you sure?', method: :delete %> |
          <%= link_to 'Back', clinics_path %>
       
      </div>
    </div>
  </div>
</div>
