<h1>Belleza</h1>

<!DOCTYPE html>  
<html lang="en">  
  <head>  
  
  
<body>  
<div class="container">  
<ul class="thumbnails">  
        <li class="span6">  
          <div class="thumbnail">  
            <img src="/img/acu.jpg" alt="product 1">  
            <div class="caption">  
           
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore       magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Buy</a> <a href="#" class="btn btn-warning">Try</a></p>  
            </div>  
          </div>  
        </li>  
        <li class="span5">  
          <div class="thumbnail">  
            <img src="shoes2.jpg" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Buy</a> <a href="#" class="btn btn-warning">Try</a></p>  
            </div>  
          </div>  
        </li>  
      </ul>  
  
      <hr>  
  
      <footer>  
        <p>© Company 2012</p>  
      </footer>  
  
    </div> <!-- /container -->  
</body>  
</html>  
              

<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Descripción</th>
    <th>Reseña</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businesses.each do |business| %>
  


  <tr>
    <td><%= business.name %></td>
    <td><%= business.address %></td>
    <td><%= business.descrption %></td>
    <td><%= business.review %></td>
    <td><%= image_tag business.photo %></td>
    <td><%= link_to 'Show', business %></td>
    <td><%= link_to 'Edit', edit_business_path(business) %></td>
    <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business', new_business_path %>
