
<h1>Salud</h1>
<table class="table table-striped">     
    
  <tr>
    <th>Nombre</th>
    <th>Especialidad</th>
    <th>Direccion</th>
    
    <th>foto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  

<% @healths.each do |health| %>
  <tr>
    <td><%= health.name %></td>
    <td><%= health.speciality %></td>
    <td><%= health.address %></td>
    
    <td><%= image_tag health.photo %></td>
    <td><%= link_to 'Show', health %></td>
    <td><%= link_to 'Edit', edit_health_path(health) %></td>
    <td><%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</div>
  </li>
  ...
</ul>

  </li>
  ...
</ul>
<table>
</table>

<br />

<%= link_to 'New Health', new_health_path %>
